/* ----------------------------------- */
/* Hidden Date Picker CSS  */
/* ----------------------------------- */

.hidden-calander-container {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: flex-end;
}

.hidden-calander-div {
  z-index: 1;
  width: 561px;
  min-height: 460px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  margin: -1em -1em -1em -1em;
  color: black;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-gap: 1em;
}

.hidden-date-input {
  border-color: rgb(176, 176, 176);
  border-radius: 8px 8px 8px 8px;
  border-style: solid;
  border-width: 1px;
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
  font-size: 12px;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  grid-auto-columns: minmax(82px, auto);
  justify-items: center;
  align-items: center;
  grid-gap: 1em;
}

.hidden-nights-sum {
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  padding: 1em;
}

.number-nights {
  font-size: 22px;
  font-weight: bold;
}

.dates-of-nights {
  color: rgb(113, 113, 113);
  font-size: 14px;
  line-height: 18px;
}

.hidden-close-button {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1em;
}

.clear-dates {
  cursor: pointer;
  background: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
  border: none;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  outline: none;
  padding: 8px;
}

.close-button {
  cursor: pointer;
  background: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 18px;
  outline: none;
  padding: 8px;

  text-align: center;

  border-radius: 10px;
}
