.date-input {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
  font-size: 10px;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  grid-auto-columns: minmax(82px, auto);
  margin-bottom: 1em;
  grid-gap: 1em;
}

.check-in {
  grid-column: 1 / span 1;
}

.check-out {
  grid-column: 2 / span 1;
  border-left: solid 1px;
  padding-left: 1em;
}

.date-value {
  font-size: 14px;
  font-weight: 400;
}
