#page-layout {
  display: grid;
  grid-template-columns: [left-edge] 60% [centre] 40% [right-edge] ;
  grid-template-rows: 100%;
}

#lodging-dis-zone {
  grid-column: left-edge / centre;
  grid-row: 1 / span 1;
}


.right-panel {
  grid-column: centre / right-edge;
  grid-row: 1 / span 1;
}

#booking-zone {
  border: 1px solid rgb(221, 221, 221); border-radius: 12px; padding: 24px; box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  display: block;
  /* line-height: 20px; */
  box-sizing: border-box;
  padding: 24px;
}

