/* Booking Container CSS */
#booking-container {
  display: grid;
  grid-template-columns: [left-edge] 30% [centre] 30% [right-edge] ;
  grid-template-rows: [top-edge] 20% [under-header] 20% [under-dates] 20% [under-guests] 20% [under-reserver] 20% [bottom-edge] ;
}


#item-booking-header {
  grid-column: left-edge /  right-edge;
  grid-row: top-edge / under-header;
  color: purple;
  justify-self: center;
}


#item-start-date {
  grid-column: left-edge /  centre;
  grid-row: under-header / under-dates;
  color: green;
  justify-self: center;
}




#item-end-date {
  grid-column: centre /  right-edge;
  grid-row: under-header / under-dates;
  color: red;
  justify-self: center;
}

#calander-picker {
  grid-column: left-edge / span 2;
  grid-row: under-dates / span 1;
}

#calander-picker-container {
  display: grid;
  grid-template-columns: [left] 50% [centre] 50% [right];
  grid-template-rows: [top] 100% [bottom]
}


.calender-prev {
  grid-column: left / centre;
  grid-row: top / bottom;
}

.calender-post {
  grid-column: centre / right;
  grid-row: top / bottom;
}

/* Calander CSS */
.cal-day.selected {
  background-color: rgb(34, 34, 34);
  color: white;
}

.cal-day.bwselected {
  background-color: rgb(225, 237, 241);
}

.cal-box {
  color: rgb(34, 34, 34) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
};


